<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305119911187-rr6thnh5pjrdpb4coom5gr8h1jh8o1tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305119911187-rr6thnh5pjrdpb4coom5gr8h1jh8o1tp</string>
	<key>API_KEY</key>
	<string>AIzaSyDhxt4zJ6lYu0yK9lcCnCNNb2MiUNnT2ls</string>
	<key>GCM_SENDER_ID</key>
	<string>305119911187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doorLock</string>
	<key>PROJECT_ID</key>
	<string>door-lock-a6658</string>
	<key>STORAGE_BUCKET</key>
	<string>door-lock-a6658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305119911187:ios:12dee75d89fdae2ae88ee6</string>
	<key>DATABASE_URL</key>
	<string>https://door-lock-a6658-default-rtdb.firebaseio.com</string>
</dict>
</plist>